/* .app {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.wrapper {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

.header {
  background: var(--gray-700);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  height: 48px;
}

.formContainer {
  height: 54px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.15fr;
  gap: 8px;
  margin-top: calc(0px - 1.5rem - 6px);
}

.formContainer input {
  background: var(--gray-500);
  border-radius: 8px;
  border: 0;
  padding: 1rem;
  color: var(--gray-100);
}

.formContainer button {
  background: var(--blue-dark);
  color: var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 0;
  border-radius: 8px;
  font-weight: bold;
}

.formContainer button:hover {
  background: var(--blue);
  cursor: pointer;
}

.status {
  display: flex;
  margin: 4rem auto;
  justify-content: space-between;
  align-items: center;
  color: var(--blue);
  font-weight: bold;
}
.status div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.status span {
  background: var(--gray-400);
  color: var(--gray-200);
  padding: 0.25rem 0.875rem;
  border-radius: 16px;
}
.done {
  color: var(--purple);
}
.tasksContainer {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}
